#main {
  color: #64a3c7;
  background-image: url("gambar1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #01061c;
}

#mfaril {
  color: #aeaeae;
}

#password {
  
}


.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}

.card {
  width: 110px;
  height: 130px;
  background-color: #797979d3;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80px;
  margin-top: 10px;
}


.slider img {
  width: 300px;
  height: 200px;
}

.chatBubble {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.chat1 {
  max-width: 60%;
  padding: 12px 18px;
  margin: 10px 0;
  border-radius: 20px;
  position: relative;
   background-color: #ffffff;
  align-self: flex-start;
  border-bottom-left-radius: 5px;
  font-family: Arial, sans-serif;
}

.chat2 {
  max-width: 60%;
  padding: 12px 18px;
  margin: 10px 0;
  border-radius: 20px;
  position: relative;
  background-color: #64a3c7;
  color: white;
  margin-left: auto;
  border-bottom-right-radius: 5px;
  font-family: Arial, sans-serif;
}